body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Modal */
.modal {
    display: none; /* Aqu está oculto por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica na frente de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */    
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
}

.modal-conteudo {
    background-color: #ffffff; /* Fundo branco */
    margin: 15% auto; /* Centraliza verticalmente */
    padding: 2px; /* Espaçamento interno */
    width: 300px; /* Largura do modal */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra do modal */
    text-align: center; /* Centraliza o texto */
}

.fechar {
    float: right; /* Alinha o botão de fechar à direita */
    font-size: 28px; /* Tamanho da fonte do botão de fechar */
    font-weight: bold; /* Negrito */
    cursor: pointer; /* Mãozinha ao passar o mouse */
}